# What drives the price of a car?

![](images/kurt.jpeg)

**OVERVIEW**

In this application, you will explore a dataset from Kaggle. The original dataset contained information on 3 million used cars. The provided dataset contains information on 426K cars to ensure speed of processing.  Your goal is to understand what factors make a car more or less expensive.  As a result of your analysis, you should provide clear recommendations to your client -- a used car dealership -- as to what consumers value in a used car.

### CRISP-DM Framework

<center>
    <img src = images/crisp.png width = 50%/>
</center>


To frame the task, throughout our practical applications, we will refer back to a standard process in industry for data projects called CRISP-DM.  This process provides a framework for working through a data problem.  Your first step in this application will be to read through a brief overview of CRISP-DM [here](https://mo-pcco.s3.us-east-1.amazonaws.com/BH-PCMLAI/module_11/readings_starter.zip).  After reading the overview, answer the questions below.

### Business Understanding

From a business perspective, we are tasked with identifying key drivers for used car prices.  In the CRISP-DM overview, we are asked to convert this business framing to a data problem definition.  Using a few sentences, reframe the task as a data task with the appropriate technical vocabulary.

> As a used car dealership, it is important to us to understand what an appropriate market price is for the cars we sell. This dataset contains a large number of used cars with various details about them and how much they sold for. Using this large dataset, we can construct a theoretical model of how much each of these different details contributes to the market value of a car. This model can then, hopefully, be used to predict with decent precision the expected value of other cars that are not in the dataset and have not been sold yet. In doing so, the prices we set can be as attuned as possible to the details of the market, maximizing business profits.

### Data Understanding

After considering the business understanding, we want to get familiar with our data.  Write down some steps that you would take to get to know the dataset and identify any quality issues within.  Take time to get to know the dataset and explore what information it contains and how this could be used to inform your business understanding.

In [1]:
import pandas as pd
import numpy as np

In [2]:
vehicles = pd.read_csv('data/vehicles.csv')

In [3]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  state         426880 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 58.6+ MB

In [4]:
vehicles.condition.unique()

array([nan, 'good', 'excellent', 'fair', 'like new', 'new', 'salvage'],
      dtype=object)

### Data Preparation

After our initial exploration and fine-tuning of the business understanding, it is time to construct our final dataset prior to modeling.  Here, we want to make sure to handle any integrity issues and cleaning, the engineering of new features, any transformations that we believe should happen (scaling, logarithms, normalization, etc.), and general preparation for modeling with `sklearn`.

In [5]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  state         426880 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 58.6+ MB

In [6]:
vehicles.nunique()

id              426880
region             404
price            15655
year               114
manufacturer        42
model            29649
condition            6
cylinders            8
fuel                 5
odometer        104870
title_status         6
transmission         3
VIN             118246
drive                3
size                 4
type                13
paint_color         12
state               51
dtype: int64

In [7]:
vehicles.type.value_counts()

type
sedan          87056
SUV            77284
pickup         43510
truck          35279
other          22110
coupe          19204
hatchback      16598
wagon          10751
van             8548
convertible     7731
mini-van        4825
offroad          609
bus              517
Name: count, dtype: int64

First, we can drop the id and VIN columns as they are simply unique identifiers that tell us nothing specific about the car. Then, we notice that there are 30k different models, which is far too many to incorporate in a linear regression model, so we will drop that column as well. The 'type' column is a reasonable and much more workable substitute.

In [13]:
vehicles_cleaned = vehicles.drop(['id', 'VIN', 'model', 'region', 'state'], axis='columns') \
.dropna(subset=['year', 'odometer']) \
.fillna('unknown') \
.rename(columns={'year': 'age'})

vehicles_cleaned['age'] = 2025 - vehicles_cleaned['age']

In [14]:
vehicles_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 421344 entries, 27 to 426879
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         421344 non-null  int64
 1   age           421344 non-null  float64
 2   manufacturer  421344 non-null  object
 3   condition     421344 non-null  object
 4   cylinders     421344 non-null  object
 5   fuel          421344 non-null  object
 6   odometer      421344 non-null  float64
 7   title_status  421344 non-null  object
 8   transmission  421344 non-null  object
 9   drive         421344 non-null  object
 10  size          421344 non-null  object
 11  type          421344 non-null  object
 12  paint_color   421344 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 45.0+ MB

In [15]:
vehicles_cleaned.sample(10, random_state=42)

,price,age,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color
218361,4500,16.0,chevrolet,good,6 cylinders,gas,136000.0,clean,automatic,fwd,full-size,sedan,red
202573,12997,11.0,ford,unknown,4 cylinders,gas,99437.0,clean,automatic,fwd,compact,van,white
146235,22500,94.0,ford,good,8 cylinders,gas,1500.0,clean,automatic,rwd,unknown,unknown,white
81067,8999,12.0,honda,excellent,unknown,gas,158208.0,clean,automatic,fwd,unknown,sedan,unknown
365494,1,75.0,chevrolet,excellent,8 cylinders,gas,31000.0,clean,automatic,rwd,unknown,coupe,red
838,49990,10.0,unknown,good,6 cylinders,diesel,203867.0,clean,automatic,rwd,unknown,unknown,white
293587,9995,12.0,mazda,unknown,unknown,gas,127012.0,clean,automatic,fwd,unknown,wagon,unknown
53687,3500,15.0,toyota,unknown,unknown,gas,200000.0,clean,automatic,unknown,unknown,unknown,unknown
81842,5500,21.0,unknown,good,8 cylinders,gas,138700.0,clean,manual,4wd,unknown,SUV,unknown
266505,3500,16.0,pontiac,good,4 cylinders,gas,196000.0,clean,automatic,4wd,mid-size,hatchback,blue

In [16]:
vehicles_encoded = pd.get_dummies(vehicles_cleaned)

In [17]:
vehicles_encoded.sample(5, random_state=42)

,price,age,odometer,manufacturer_acura,manufacturer_alfa-romeo,manufacturer_aston-martin,manufacturer_audi,manufacturer_bmw,manufacturer_buick,manufacturer_cadillac,...,paint_color_custom,paint_color_green,paint_color_grey,paint_color_orange,paint_color_purple,paint_color_red,paint_color_silver,paint_color_unknown,paint_color_white,paint_color_yellow
218361,4500,16.0,136000.0,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
202573,12997,11.0,99437.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
146235,22500,94.0,1500.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
81067,8999,12.0,158208.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
365494,1,75.0,31000.0,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

### Modeling

With your (almost?) final dataset in hand, it is now time to build some models.  Here, you should build a number of different regression models with the price as the target.  In building your models, you should explore different parameters and be sure to cross-validate your findings.

### Evaluation

With some modeling accomplished, we aim to reflect on what we identify as a high-quality model and what we are able to learn from this.  We should review our business objective and explore how well we can provide meaningful insight into drivers of used car prices.  Your goal now is to distill your findings and determine whether the earlier phases need revisitation and adjustment or if you have information of value to bring back to your client.

### Deployment

Now that we've settled on our models and findings, it is time to deliver the information to the client.  You should organize your work as a basic report that details your primary findings.  Keep in mind that your audience is a group of used car dealers interested in fine-tuning their inventory.