# What drives the price of a car?

![](images/kurt.jpeg)

**OVERVIEW**

In this application, you will explore a dataset from Kaggle. The original dataset contained information on 3 million used cars. The provided dataset contains information on 426K cars to ensure speed of processing.  Your goal is to understand what factors make a car more or less expensive.  As a result of your analysis, you should provide clear recommendations to your client -- a used car dealership -- as to what consumers value in a used car.

### CRISP-DM Framework

<center>
    <img src = images/crisp.png width = 50%/>
</center>


To frame the task, throughout our practical applications, we will refer back to a standard process in industry for data projects called CRISP-DM.  This process provides a framework for working through a data problem.  Your first step in this application will be to read through a brief overview of CRISP-DM [here](https://mo-pcco.s3.us-east-1.amazonaws.com/BH-PCMLAI/module_11/readings_starter.zip).  After reading the overview, answer the questions below.

### Business Understanding

From a business perspective, we are tasked with identifying key drivers for used car prices.  In the CRISP-DM overview, we are asked to convert this business framing to a data problem definition.  Using a few sentences, reframe the task as a data task with the appropriate technical vocabulary.

> As a used car dealership, it is important to us to understand what an appropriate market price is for the cars we sell. This dataset contains a large number of used cars with various details about them and how much they sold for. Using this large dataset, we can construct a theoretical model of how much each of these different details contributes to the market value of a car. This model can then, hopefully, be used to predict with decent precision the expected value of other cars that are not in the dataset and have not been sold yet. In doing so, the prices we set can be as attuned as possible to the details of the market, maximizing business profits.

### Data Understanding

After considering the business understanding, we want to get familiar with our data.  Write down some steps that you would take to get to know the dataset and identify any quality issues within.  Take time to get to know the dataset and explore what information it contains and how this could be used to inform your business understanding.

In [1]:
import pandas as pd
import numpy as np

In [2]:
vehicles = pd.read_csv('data/vehicles.csv')

In [3]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  state         426880 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 58.6+ MB

In [4]:
vehicles.condition.unique()

array([nan, 'good', 'excellent', 'fair', 'like new', 'new', 'salvage'],
      dtype=object)

### Data Preparation

After our initial exploration and fine-tuning of the business understanding, it is time to construct our final dataset prior to modeling.  Here, we want to make sure to handle any integrity issues and cleaning, the engineering of new features, any transformations that we believe should happen (scaling, logarithms, normalization, etc.), and general preparation for modeling with `sklearn`.

In [5]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  state         426880 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 58.6+ MB

In [6]:
vehicles1 = vehicles.drop(['id','VIN'], axis='columns')

In [7]:
vehicles2 = vehicles1.dropna(subset=['manufacturer', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status', 'transmission', 'type'])

In [8]:
vehicles2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148382 entries, 27 to 426878
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        148382 non-null  object
 1   price         148382 non-null  int64
 2   year          148382 non-null  float64
 3   manufacturer  148382 non-null  object
 4   model         147025 non-null  object
 5   condition     148382 non-null  object
 6   cylinders     148382 non-null  object
 7   fuel          148382 non-null  object
 8   odometer      148382 non-null  float64
 9   title_status  148382 non-null  object
 10  transmission  148382 non-null  object
 11  drive         128501 non-null  object
 12  size          85753 non-null   object
 13  type          148382 non-null  object
 14  paint_color   131767 non-null  object
 15  state         148382 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 19.2+ MB

In [17]:
vehicles3 = vehicles2.drop(['drive', 'size', 'paint_color'], axis='columns')

In [12]:
vehicles3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148382 entries, 27 to 426878
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        148382 non-null  object
 1   price         148382 non-null  int64
 2   year          148382 non-null  float64
 3   manufacturer  148382 non-null  object
 4   condition     148382 non-null  object
 5   cylinders     148382 non-null  object
 6   fuel          148382 non-null  object
 7   odometer      148382 non-null  float64
 8   title_status  148382 non-null  object
 9   transmission  148382 non-null  object
 10  type          148382 non-null  object
 11  state         148382 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 14.7+ MB

In [18]:
vehicles3.nunique()

region            404
price            6115
year              104
manufacturer       42
model           12972
condition           6
cylinders           8
fuel                5
odometer        44813
title_status        6
transmission        3
type               13
state              51
dtype: int64

In [25]:
vehicles3.type.value_counts()

type
sedan          38759
SUV            34346
pickup         19704
truck          17647
coupe          10065
other           7072
hatchback       5243
van             4081
convertible     4061
wagon           3412
mini-van        3235
offroad          541
bus              216
Name: count, dtype: int64

There are two many different values of the 'model' column to use in linear regression. Instead, we will use the other features (especially type, which is a reasonable but much more workable substitute)

In [19]:
vehicles4 = vehicles3.drop('type', axis='columns')

In [20]:
vehicles4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148382 entries, 27 to 426878
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        148382 non-null  object
 1   price         148382 non-null  int64
 2   year          148382 non-null  float64
 3   manufacturer  148382 non-null  object
 4   model         147025 non-null  object
 5   condition     148382 non-null  object
 6   cylinders     148382 non-null  object
 7   fuel          148382 non-null  object
 8   odometer      148382 non-null  float64
 9   title_status  148382 non-null  object
 10  transmission  148382 non-null  object
 11  state         148382 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 14.7+ MB

In [22]:
vehicles4.cylinders.value_counts()

cylinders
6 cylinders     59502
8 cylinders     43271
4 cylinders     42813
5 cylinders      1032
10 cylinders      946
other             445
3 cylinders       299
12 cylinders       74
Name: count, dtype: int64

In [23]:
vehicles5 = vehicles4.query('cylinders != "other"')

In [24]:
vehicles5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147937 entries, 27 to 426878
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        147937 non-null  object
 1   price         147937 non-null  int64
 2   year          147937 non-null  float64
 3   manufacturer  147937 non-null  object
 4   model         146602 non-null  object
 5   condition     147937 non-null  object
 6   cylinders     147937 non-null  object
 7   fuel          147937 non-null  object
 8   odometer      147937 non-null  float64
 9   title_status  147937 non-null  object
 10  transmission  147937 non-null  object
 11  state         147937 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 14.7+ MB

Below, we do some string manipulation to convert the cylinders column to an integer value, and then convert the data type of the column to int.

In [95]:
pd.options.mode.copy_on_write = True
vehicles5 = vehicles4
vehicles5['cylinders'] = pd.to_numeric(vehicles5['cylinders'].str.replace(' cylinders',''))
vehicles5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147937 entries, 27 to 426878
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        147937 non-null  object
 1   price         147937 non-null  int64
 2   year          147937 non-null  float64
 3   manufacturer  147937 non-null  object
 4   condition     147937 non-null  object
 5   cylinders     147937 non-null  int64
 6   fuel          147937 non-null  object
 7   odometer      147937 non-null  float64
 8   title_status  147937 non-null  object
 9   transmission  147937 non-null  object
 10  type          147937 non-null  object
 11  state         147937 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 14.7+ MB

In [27]:
vehicles5.nunique()

region            404
price            6103
year              104
manufacturer       42
model           12902
condition           6
cylinders           7
fuel                5
odometer        44687
title_status        6
transmission        3
state              51
dtype: int64

In [30]:
for column in ['manufacturer', 'condition', 'cylinders', 'fuel', 'title_status', 'transmission', 'state']:
    print(vehicles5[column].value_counts())
    print('\n---\n')

manufacturer
ford               24707
chevrolet          21896
toyota             12941
honda               8200
nissan              7422
gmc                 6982
jeep                6912
ram                 5923
dodge               5204
bmw                 4287
mercedes-benz       3996
lexus               3321
hyundai             3272
subaru              3186
volkswagen          2973
chrysler            2606
audi                2544
kia                 2467
acura               2386
infiniti            2378
cadillac            2303
buick               2098
lincoln             1622
mazda               1608
pontiac             1043
mitsubishi           999
volvo                940
mini                 647
mercury              624
rover                617
jaguar               495
saturn               486
porsche              485
fiat                 195
alfa-romeo            53
harley-davidson       37
ferrari               34
datsun                27
land rover             8
tesla                  6
aston-martin           6
morgan                 1
Name: count, dtype: int64

---

condition
good         64903
excellent    62894
like new     14716
fair          4379
new            689
salvage        356
Name: count, dtype: int64

---

cylinders
6 cylinders     59502
8 cylinders     43271
4 cylinders     42813
5 cylinders      1032
10 cylinders      946
3 cylinders       299
12 cylinders       74
Name: count, dtype: int64

---

fuel
gas         135461
diesel        7224
other         3525
hybrid        1628
electric        99
Name: count, dtype: int64

---

title_status
clean         141004
rebuilt         3962
salvage         1695
lien             932
missing          277
parts only        67
Name: count, dtype: int64

---

transmission
automatic    114753
other         23584
manual         9600
Name: count, dtype: int64

---

state
ca    18136
fl    10471
ny     8248
tx     7362
oh     6905
nc     5750
mi     5321
pa     5315
wi     4875
ia     3857
tn     3713
va     3711
or     3488
nj     3454
ma     3446
il     3332
az     3175
mn     3077
co     2865
ok     2714
in     2680
ks     2453
sc     2407
ga     2386
wa     2332
id     2096
ct     2023
ky     1866
al     1782
mo     1612
nm     1491
vt     1443
md     1431
mt     1325
ar     1249
ri     1010
nv      989
ak      967
dc      932
nh      929
me      904
la      881
hi      702
sd      444
de      421
ms      421
wv      383
ne      364
ut      331
nd      239
wy      229
Name: count, dtype: int64

---

In [32]:
vehicles.query('manufacturer == "tesla"')

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,state
1008,7309692127,birmingham,29890,2013.0,tesla,model s,NaN,NaN,electric,61591.0,clean,automatic,5YJSA1DN4DFP11483,rwd,NaN,sedan,grey,al
1333,7306565136,birmingham,32990,2013.0,tesla,model s,NaN,NaN,electric,69961.0,clean,automatic,5YJSA1CP3DFP25751,rwd,NaN,sedan,white,al
1357,7306134436,birmingham,38750,2018.0,tesla,model 3,NaN,NaN,electric,14452.0,clean,automatic,NaN,NaN,NaN,NaN,NaN,al
1806,7301654156,birmingham,29890,2013.0,tesla,model s,NaN,NaN,electric,61591.0,clean,automatic,5YJSA1DN4DFP11483,rwd,NaN,sedan,grey,al
2755,7314886740,huntsville / decatur,58989,2015.0,tesla,model s,NaN,NaN,electric,23906.0,clean,automatic,5YJSA1E41FF113957,NaN,NaN,sedan,red,al
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424599,7308683318,milwaukee,49990,2020.0,tesla,model 3 long range sedan,good,NaN,electric,3996.0,clean,other,5YJ3E1EB2LF783147,NaN,NaN,sedan,white,wi
425311,7314872982,sheboygan,36590,2019.0,tesla,model 3 standard range,good,NaN,electric,23057.0,clean,other,5YJ3E1EA7KF483206,rwd,NaN,sedan,white,wi
425611,7316398604,wausau,37990,2019.0,tesla,model 3 standard range,good,NaN,electric,22544.0,clean,other,5YJ3E1EA9KF415988,rwd,NaN,sedan,white,wi
425747,7313463689,wausau,32990,2013.0,tesla,model s signature,good,NaN,electric,62588.0,clean,other,5YJSA1DP8DFP06269,rwd,NaN,sedan,white,wi
425794,7312892479,wausau,35990,2019.0,tesla,model 3 standard range,good,NaN,gas,31540.0,clean,other,5YJ3E1EA9KF310531,rwd,NaN,sedan,white,wi

### Modeling

With your (almost?) final dataset in hand, it is now time to build some models.  Here, you should build a number of different regression models with the price as the target.  In building your models, you should explore different parameters and be sure to cross-validate your findings.

### Evaluation

With some modeling accomplished, we aim to reflect on what we identify as a high-quality model and what we are able to learn from this.  We should review our business objective and explore how well we can provide meaningful insight into drivers of used car prices.  Your goal now is to distill your findings and determine whether the earlier phases need revisitation and adjustment or if you have information of value to bring back to your client.

### Deployment

Now that we've settled on our models and findings, it is time to deliver the information to the client.  You should organize your work as a basic report that details your primary findings.  Keep in mind that your audience is a group of used car dealers interested in fine-tuning their inventory.