# What drives the price of a car?

![](images/kurt.jpeg)

**OVERVIEW**

In this application, you will explore a dataset from Kaggle. The original dataset contained information on 3 million used cars. The provided dataset contains information on 426K cars to ensure speed of processing.  Your goal is to understand what factors make a car more or less expensive.  As a result of your analysis, you should provide clear recommendations to your client -- a used car dealership -- as to what consumers value in a used car.

### CRISP-DM Framework

<center>
    <img src = images/crisp.png width = 50%/>
</center>


To frame the task, throughout our practical applications, we will refer back to a standard process in industry for data projects called CRISP-DM.  This process provides a framework for working through a data problem.  Your first step in this application will be to read through a brief overview of CRISP-DM [here](https://mo-pcco.s3.us-east-1.amazonaws.com/BH-PCMLAI/module_11/readings_starter.zip).  After reading the overview, answer the questions below.

### Business Understanding

From a business perspective, we are tasked with identifying key drivers for used car prices.  In the CRISP-DM overview, we are asked to convert this business framing to a data problem definition.  Using a few sentences, reframe the task as a data task with the appropriate technical vocabulary.

> As a used car dealership, it is important to us to understand what an appropriate market price is for the cars we sell. This dataset contains a large number of used cars with various details about them and how much they sold for. Using this large dataset, we can construct a theoretical model of how much each of these different details contributes to the market value of a car. This model can then, hopefully, be used to predict with decent precision the expected value of other cars that are not in the dataset and have not been sold yet. In doing so, the prices we set can be as attuned as possible to the details of the market, maximizing business profits.

### Data Understanding

After considering the business understanding, we want to get familiar with our data.  Write down some steps that you would take to get to know the dataset and identify any quality issues within.  Take time to get to know the dataset and explore what information it contains and how this could be used to inform your business understanding.

In [3]:
import pandas as pd
import numpy as np

In [4]:
vehicles = pd.read_csv('data/vehicles.csv')

In [5]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  state         426880 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 58.6+ MB

In [28]:
vehicles.condition.unique()

array([nan, 'good', 'excellent', 'fair', 'like new', 'new', 'salvage'],
      dtype=object)

### Data Preparation

After our initial exploration and fine-tuning of the business understanding, it is time to construct our final dataset prior to modeling.  Here, we want to make sure to handle any integrity issues and cleaning, the engineering of new features, any transformations that we believe should happen (scaling, logarithms, normalization, etc.), and general preparation for modeling with `sklearn`.

In [84]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  state         426880 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 58.6+ MB

In [85]:
vehicles1 = vehicles.drop(['id','VIN'], axis='columns')

In [86]:
#vehicles1.sample(10, random_state=42)

In [87]:
vehicles1.cylinders.unique()

array([nan, '8 cylinders', '6 cylinders', '4 cylinders', '5 cylinders',
       'other', '3 cylinders', '10 cylinders', '12 cylinders'],
      dtype=object)

In [88]:
vehicles1.cylinders.value_counts()

cylinders
6 cylinders     94169
4 cylinders     77642
8 cylinders     72062
5 cylinders      1712
10 cylinders     1455
other            1298
3 cylinders       655
12 cylinders      209
Name: count, dtype: int64

In [89]:
vehicles2 = vehicles1.dropna(subset=['manufacturer', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status', 'transmission', 'type'])

In [90]:
vehicles2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148382 entries, 27 to 426878
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        148382 non-null  object
 1   price         148382 non-null  int64
 2   year          148382 non-null  float64
 3   manufacturer  148382 non-null  object
 4   model         147025 non-null  object
 5   condition     148382 non-null  object
 6   cylinders     148382 non-null  object
 7   fuel          148382 non-null  object
 8   odometer      148382 non-null  float64
 9   title_status  148382 non-null  object
 10  transmission  148382 non-null  object
 11  drive         128501 non-null  object
 12  size          85753 non-null   object
 13  type          148382 non-null  object
 14  paint_color   131767 non-null  object
 15  state         148382 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 19.2+ MB

In [91]:
vehicles3 = vehicles2.drop(['drive', 'model', 'size', 'paint_color'], axis='columns')

In [92]:
vehicles3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148382 entries, 27 to 426878
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        148382 non-null  object
 1   price         148382 non-null  int64
 2   year          148382 non-null  float64
 3   manufacturer  148382 non-null  object
 4   condition     148382 non-null  object
 5   cylinders     148382 non-null  object
 6   fuel          148382 non-null  object
 7   odometer      148382 non-null  float64
 8   title_status  148382 non-null  object
 9   transmission  148382 non-null  object
 10  type          148382 non-null  object
 11  state         148382 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 14.7+ MB

In [93]:
vehicles4 = vehicles3.query('cylinders != "other"')

In [94]:
vehicles4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147937 entries, 27 to 426878
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        147937 non-null  object
 1   price         147937 non-null  int64
 2   year          147937 non-null  float64
 3   manufacturer  147937 non-null  object
 4   condition     147937 non-null  object
 5   cylinders     147937 non-null  object
 6   fuel          147937 non-null  object
 7   odometer      147937 non-null  float64
 8   title_status  147937 non-null  object
 9   transmission  147937 non-null  object
 10  type          147937 non-null  object
 11  state         147937 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 14.7+ MB

Below, we do some string manipulation to convert the cylinders column to an integer value, and then convert the data type of the column to int.

In [95]:
pd.options.mode.copy_on_write = True
vehicles5 = vehicles4
vehicles5['cylinders'] = pd.to_numeric(vehicles5['cylinders'].str.replace(' cylinders',''))
vehicles5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147937 entries, 27 to 426878
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        147937 non-null  object
 1   price         147937 non-null  int64
 2   year          147937 non-null  float64
 3   manufacturer  147937 non-null  object
 4   condition     147937 non-null  object
 5   cylinders     147937 non-null  int64
 6   fuel          147937 non-null  object
 7   odometer      147937 non-null  float64
 8   title_status  147937 non-null  object
 9   transmission  147937 non-null  object
 10  type          147937 non-null  object
 11  state         147937 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 14.7+ MB

In [96]:
vehicles5.nunique()

region            404
price            6103
year              104
manufacturer       42
condition           6
cylinders           7
fuel                5
odometer        44687
title_status        6
transmission        3
type               13
state              51
dtype: int64

So, at this point, I'm not really sure what to do about the model column. It is a nonnumeric column with over 13000 different values. I do not know how to do regression using that. But the model of a car would seem to be really important to the value of a car.

Maybe this is where clustering comes in? Take the model, put it into a cluster?

Or maybe I should be using the 'type' column instead.

In [97]:
vehicles.type.value_counts()

type
sedan          87056
SUV            77284
pickup         43510
truck          35279
other          22110
coupe          19204
hatchback      16598
wagon          10751
van             8548
convertible     7731
mini-van        4825
offroad          609
bus              517
Name: count, dtype: int64

For the manufacturer column, 41 seems to be a lot of options to use with one-hot encoding. Maybe use clustering here? Rather than using all 41 manufacturers in the model, group the manufacturers into a smaller number of clusters? (E.g. luxury, budget, midrange)

In [99]:
vehicles.manufacturer.value_counts()

manufacturer
ford               70985
chevrolet          55064
toyota             34202
honda              21269
nissan             19067
jeep               19014
ram                18342
gmc                16785
bmw                14699
dodge              13707
mercedes-benz      11817
hyundai            10338
subaru              9495
volkswagen          9345
kia                 8457
lexus               8200
audi                7573
cadillac            6953
chrysler            6031
acura               5978
buick               5501
mazda               5427
infiniti            4802
lincoln             4220
volvo               3374
mitsubishi          3292
mini                2376
pontiac             2288
rover               2113
jaguar              1946
porsche             1384
mercury             1184
saturn              1090
alfa-romeo           897
tesla                868
fiat                 792
harley-davidson      153
ferrari               95
datsun                63
aston-martin          24
land rover            21
morgan                 3
Name: count, dtype: int64

### Modeling

With your (almost?) final dataset in hand, it is now time to build some models.  Here, you should build a number of different regression models with the price as the target.  In building your models, you should explore different parameters and be sure to cross-validate your findings.

### Evaluation

With some modeling accomplished, we aim to reflect on what we identify as a high-quality model and what we are able to learn from this.  We should review our business objective and explore how well we can provide meaningful insight into drivers of used car prices.  Your goal now is to distill your findings and determine whether the earlier phases need revisitation and adjustment or if you have information of value to bring back to your client.

### Deployment

Now that we've settled on our models and findings, it is time to deliver the information to the client.  You should organize your work as a basic report that details your primary findings.  Keep in mind that your audience is a group of used car dealers interested in fine-tuning their inventory.