# What drives the price of a car?

![](images/kurt.jpeg)

**OVERVIEW**

In this application, you will explore a dataset from Kaggle. The original dataset contained information on 3 million used cars. The provided dataset contains information on 426K cars to ensure speed of processing.  Your goal is to understand what factors make a car more or less expensive.  As a result of your analysis, you should provide clear recommendations to your client -- a used car dealership -- as to what consumers value in a used car.

### CRISP-DM Framework

<center>
    <img src = images/crisp.png width = 50%/>
</center>


To frame the task, throughout our practical applications, we will refer back to a standard process in industry for data projects called CRISP-DM.  This process provides a framework for working through a data problem.  Your first step in this application will be to read through a brief overview of CRISP-DM [here](https://mo-pcco.s3.us-east-1.amazonaws.com/BH-PCMLAI/module_11/readings_starter.zip).  After reading the overview, answer the questions below.

### Business Understanding

From a business perspective, we are tasked with identifying key drivers for used car prices.  In the CRISP-DM overview, we are asked to convert this business framing to a data problem definition.  Using a few sentences, reframe the task as a data task with the appropriate technical vocabulary.

> As a used car dealership, it is important to us to understand what an appropriate market price is for the cars we sell. This dataset contains a large number of used cars with various details about them and how much they sold for. Using this large dataset, we can construct a theoretical model of how much each of these different details contributes to the market value of a car. This model can then, hopefully, be used to predict with decent precision the expected value of other cars that are not in the dataset and have not been sold yet. In doing so, the prices we set can be as attuned as possible to the details of the market, maximizing business profits.

### Data Understanding

After considering the business understanding, we want to get familiar with our data.  Write down some steps that you would take to get to know the dataset and identify any quality issues within.  Take time to get to know the dataset and explore what information it contains and how this could be used to inform your business understanding.

In [1]:
import pandas as pd
import numpy as np

In [2]:
vehicles = pd.read_csv('data/vehicles.csv')

In [3]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  state         426880 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 58.6+ MB

In [4]:
vehicles.condition.unique()

array([nan, 'good', 'excellent', 'fair', 'like new', 'new', 'salvage'],
      dtype=object)

### Data Preparation

After our initial exploration and fine-tuning of the business understanding, it is time to construct our final dataset prior to modeling.  Here, we want to make sure to handle any integrity issues and cleaning, the engineering of new features, any transformations that we believe should happen (scaling, logarithms, normalization, etc.), and general preparation for modeling with `sklearn`.

In [5]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  state         426880 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 58.6+ MB

In [6]:
vehicles_cleaned = vehicles.dropna(subset=['year', 'odometer']).fillna('unknown')

In [7]:
vehicles_cleaned2 = vehicles_cleaned.drop(vehicles_cleaned.query('price >= 400_000 or odometer > 500_000').index)

In [8]:
unknown_manu = vehicles_cleaned2.query('manufacturer == "unknown"')
individual_terms_in_model = pd.Series([item.lower() for sublist in unknown_manu['model'].str.split(' ').to_list() for item in sublist]).value_counts()

In [9]:
individual_terms_in_model.head(20)

scion            1894
4d               1159
hatchback        1007
international    1001
freightliner      882
genesis           718
isuzu             653
im                644
sedan             622
hummer            522
g70               437
oldsmobile        410
all               409
npr               391
maserati          375
suzuki            329
saab              328
4300              306
tc                301
xb                293
Name: count, dtype: int64

In [10]:
mapping_dict = {'scion': 'scion', 'freightliner': 'freightliner', 'genesis': 'genesis', 'isuzu': 'isuzu', 'oldsmobile': 'oldsmobile',
                'maserati': 'maserati', 'suzuki': 'suzuki', 'saab': 'saab', 'corvette': 'corvette', 'chevorlet': 'chevrolet',
                'volkswagon': 'volkswagen', 'lamborghini': 'lamborghini', 'rolls royce': 'rolls royce'}

In [11]:
vehicles_cleaned3 = vehicles_cleaned2

for key, value in mapping_dict.items():
    vehicles_cleaned3.loc[vehicles_cleaned3[vehicles_cleaned3['model'].str.contains(key, case=False)].index, 'manufacturer'] = value

In [12]:
vehicles_cleaned3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 420148 entries, 27 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            420148 non-null  int64
 1   region        420148 non-null  object
 2   price         420148 non-null  int64
 3   year          420148 non-null  float64
 4   manufacturer  420148 non-null  object
 5   model         420148 non-null  object
 6   condition     420148 non-null  object
 7   cylinders     420148 non-null  object
 8   fuel          420148 non-null  object
 9   odometer      420148 non-null  float64
 10  title_status  420148 non-null  object
 11  transmission  420148 non-null  object
 12  VIN           420148 non-null  object
 13  drive         420148 non-null  object
 14  size          420148 non-null  object
 15  type          420148 non-null  object
 16  paint_color   420148 non-null  object
 17  state         420148 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 77.0+ MB

In [13]:
vehicles_cleaned4 = vehicles_cleaned3.drop(index=vehicles_cleaned3.query('manufacturer == "unknown"').index)
vehicles_cleaned4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 410222 entries, 27 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            410222 non-null  int64
 1   region        410222 non-null  object
 2   price         410222 non-null  int64
 3   year          410222 non-null  float64
 4   manufacturer  410222 non-null  object
 5   model         410222 non-null  object
 6   condition     410222 non-null  object
 7   cylinders     410222 non-null  object
 8   fuel          410222 non-null  object
 9   odometer      410222 non-null  float64
 10  title_status  410222 non-null  object
 11  transmission  410222 non-null  object
 12  VIN           410222 non-null  object
 13  drive         410222 non-null  object
 14  size          410222 non-null  object
 15  type          410222 non-null  object
 16  paint_color   410222 non-null  object
 17  state         410222 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 59.5+ MB

In [23]:
vehicles_cleaned5 = vehicles_cleaned4.drop(columns=['id', 'region', 'model', 'VIN', 'state'])
vehicles_cleaned5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 410222 entries, 27 to 426879
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         410222 non-null  int64
 1   year          410222 non-null  float64
 2   manufacturer  410222 non-null  object
 3   condition     410222 non-null  object
 4   cylinders     410222 non-null  object
 5   fuel          410222 non-null  object
 6   odometer      410222 non-null  float64
 7   title_status  410222 non-null  object
 8   transmission  410222 non-null  object
 9   drive         410222 non-null  object
 10  size          410222 non-null  object
 11  type          410222 non-null  object
 12  paint_color   410222 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 43.8+ MB

In [24]:
current_year = max(vehicles_cleaned5['year'])
vehicles_cleaned6 = vehicles_cleaned5.rename(columns={'year':'age'})
vehicles_cleaned6['age'] = current_year - vehicles_cleaned5['year']

In [25]:
encoded_vehicles = pd.get_dummies(vehicles_cleaned6)
encoded_vehicles

,price,age,odometer,manufacturer_acura,manufacturer_alfa-romeo,manufacturer_aston-martin,manufacturer_audi,manufacturer_bmw,manufacturer_buick,manufacturer_cadillac,...,paint_color_custom,paint_color_green,paint_color_grey,paint_color_orange,paint_color_purple,paint_color_red,paint_color_silver,paint_color_unknown,paint_color_white,paint_color_yellow
27,33590,8.0,57923.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
28,22590,12.0,71229.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,39590,2.0,19160.0,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
30,30990,5.0,41124.0,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
31,15000,9.0,128000.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,23590,3.0,32226.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
426876,30590,2.0,12029.0,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
426877,34990,2.0,4174.0,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
426878,28990,4.0,30112.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
426879,30590,3.0,22716.0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,True,False,False

### Modeling

With your (almost?) final dataset in hand, it is now time to build some models.  Here, you should build a number of different regression models with the price as the target.  In building your models, you should explore different parameters and be sure to cross-validate your findings.

### Evaluation

With some modeling accomplished, we aim to reflect on what we identify as a high-quality model and what we are able to learn from this.  We should review our business objective and explore how well we can provide meaningful insight into drivers of used car prices.  Your goal now is to distill your findings and determine whether the earlier phases need revisitation and adjustment or if you have information of value to bring back to your client.

### Deployment

Now that we've settled on our models and findings, it is time to deliver the information to the client.  You should organize your work as a basic report that details your primary findings.  Keep in mind that your audience is a group of used car dealers interested in fine-tuning their inventory.